* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-gallery {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}
.fullview {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.fullview img {
  display: block;
  width: 100%;
  height: auto;
}

.preview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.preview li {
  width: 17.78rem;
  list-style: none;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border: 2px solid rgb(221, 221, 216);
}

.preview li img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.preview li:hover {
  border: 2px solid rgb(71, 115, 151);
}

.preview li:active {
  box-shadow: 5px 5px 10px rgb(100, 150, 207);
}
